<phpunit bootstrap="tests/bootstrap.php"
         colors="true">
    <testsuites>
        <testsuite name="Unit tests">
            <directory>tests/</directory>
            <exclude>tests/RedisUserRepositoryTest.php</exclude>
            <exclude>tests/RedisRememberTokenRepositoryTest.php</exclude>
            <exclude>tests/RedisMessageRepositoryTest.php</exclude>
        </testsuite>

    </testsuites>
</phpunit>