{% extends "layout.twig" %}

{% block content %}
    <p class="important">
        Вам нужно зарегистрироваться, либо авторизоваться, воспользоваться чатом.
        <br>
        Это недолго.
    </p>
{% endblock %}